{% extends "admin/base.html" %} {% block content %}
<!doctype html>
<html>

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #info {
            border: none;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 26px;
        }
    </style>
    
</head>

<body>
    <div class="container">
        <div class="row">
            <a href="/graphics_records/" class="btn btn-info btn-small">graphics records</a>

            <button id="info_btn" class="btn btn-info"><i class="fa fa-question"></i></button>
            <br>

            <div id="info_card" class="alert alert-info" style="display: none;">
            <a style="float: right;" class="btn btn-danger btn-small" href="#" id="close" class="card-link" title="close">X</a>
                <p>To perform the comparison, filter the data as desired then <strong>select the two files</strong> you want to compare, the necessary data will be available in the description of them.</p>
            </div>
            <br>
            <br> {% if message %}
            <p class="text-danger">Attention {{message}}</p>
            {% endif %} {% if arq %}
            <div class="col-md-4">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="3" class="text-info"><center>Select the file you want to compare your data</center></th>
                        </tr>
                        <tr>
                            <th>Code</th>
                            <th>Date</th>
                            <th class="text-sucess">Action</th>
                        </tr>
                        <tr>
                            <th colspan="5"> 
                            <p class="text-info"><strong>  Filter Data  </strong> <input class="form-control input-large" id="find_input" type="text" placeholder="Search.."> </p>   
                            
                            </th>
                        </tr>
                    </thead>
                    <tbody id="list_table">
                        {% for arquivo in arq %}
                        <tr>
                            <td><a href="/plotBruto/{{arquivo.id}}/">{{arquivo.codigo}}</a></td>
                            <td>{{arquivo.dataLeitura}}</td>
                            <td><a class="btn btn-primary" href="/compare_datas/{{arquivo.id}}/">Select this.</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</body>
<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

            $("#close").click(function() {
                $("#info_card").hide();
            });

            $("#info_btn").click(function() {
                $("#info_card").toggle();
            });

            $("#find_input").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#list_table tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

        });
    </script>
</footer>

</html>
{% endblock %}